<style>
    .card{
        padding: 3vh 3vw;
        margin: auto;
        width: 60vw;
        height: auto;
    }
    .allTrans-dialog {
      padding: 2vh 2vw;
      width: 100%;
    }

    .demo-dialog-button{
        padding: 1vh 1vw;
        display: flex;
        align-content: flex-end;
        width: 50%;
    }
</style>

    <div role="dialog" aria-label="Review Trans" layout="column" layout-align="center">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Review Transactions</h2>
              </div>
            </md-toolbar>
          
            <div class="allTrans-dialog" layout="column" layout-xs="column" >

                <md-card class="card" layout-align="center">
                    <md-card-title class="headline" layout="column"> All Transactions of the retailer </md-card-title>
                <div class="table-responsive" ng-hide="view" layout="center center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>GoodsID</th>
                            <th>Quantity</th>
                            <th>Buying/Selling</th>
                            <th>Price</th>
                            <th>Participant</th>
                            <th>Bank</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tran in trans track by $index" >
                            <td>{{tran.goodsId}}</td>
                            <td>{{tran.quantity}}</td>
                            <td>{{tran.state}}</td>
                            <td>{{tran.price}}</td>
                            <td>{{tran.participant}}</td>
                            <td>{{tran.bank}}</td>
                            <td style="background-color:{{tran.status==='Pending'?'orange':selectColor(tran)}}">{{tran.status}}</td>                    
                
                        </tr>
                    </tbody>
                </table>
                </div> 
                </md-card>
                
            </div>
          
            <div layout="row" class="demo-dialog-button">
              <md-button class="md-raised md-primary md-padding" ng-click="approveRequest(true)">
                Accept
              </md-button>
              <md-button md-autofocus class="md-raised md-warn md-padding" ng-click="approveRequest(false)">
                Reject
            </md-button>
            </div>
          </div>
