<style>
    .card{
        padding: 3vh 3vw;
        margin: auto;
        width: 80vw;
        height: auto;
        max-height: 60vh;
        overflow-x: auto;
        overflow-y: auto;
    }
    .allTrans-dialog {
      padding: 2vh 2vw;
      width: 100%;
    }

    .demo-dialog-button{
        padding: 1vh 1vw;
        display: flex;
        align-content: flex-end;
        width: 50%;
    }
</style>

    <div role="dialog" aria-label="Review Trans" layout="column" layout-align="center">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Review Transactions</h2>
              </div>
            </md-toolbar>
          
            <div class="allTrans-dialog" layout="column" layout-xs="column" >

                <md-card class="card" layout-align="center">
                    <md-card-title class="headline" layout="column"> All Transactions of the retailer : </md-card-title>
                    <label class="container">Retailer: <span>{{retailer}}</span></label><br>
                <div class="table-responsive" ng-hide="view" layout="center">
                <table class="table" style="border-collapse:separate;border-spacing:0.1vw 0.1vh;">
                    <thead>
                        <tr>
                            <th>GoodsID</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Buying/Selling</th>
                            <th>Price</th>
                            <th>Wholesaler</th>
                            <th>Bank</th>
                            <th>Credit</th>
                            <th>Credit Status</th>
                            <th>Txn Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tran in trans | orderBy: 'des' track by $index" >
                            <td>{{tran.goodsId}}</td>
                            <td>{{tran.des}}</td>
                            <td>{{tran.quantity}}</td>
                            <td>{{tran.state}}</td>
                            <td>{{tran.price}}</td>
                            <td>{{tran.participant}}</td>
                            <td>{{tran.bank}}</td>
                            <td>{{tran.finSup}}</td>
                            <td style="background-color:{{tran.finStatus==='Pending'?'orange':selectColor(tran.finStatus)}}">{{tran.finStatus}}</td>
                            <td style="background-color:{{tran.status==='Pending'?'orange':selectColor(tran.status)}}">{{tran.status}}</td>                    
                
                        </tr>
                    </tbody>
                </table>
                </div> 
                <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate" ng-hide="complete"></md-progress-circular>
                </div>
                <md-card-footer ng-show="isreq && complete" style="text-align:center;">
                        There are no orders made yet
                </md-card-footer>
                </md-card>
                
            </div>
          
            <div layout="row" class="demo-dialog-button">
              <md-button class="md-raised md-primary md-padding" ng-click="approveRequest(true)">
                Accept
              </md-button>
              <md-button md-autofocus class="md-raised md-warn md-padding" ng-click="approveRequest(false)">
                Reject
            </md-button>
            </div>
          </div>
