<style>
    .card{
        width: 100%;
        height: auto;
    }
    /* table {
    width: 100%;
    }
    td {
    max-width: 0;
    overflow-x:scroll;
    } */

</style>
<md-card class="card">
    <div layout="row" layout-margin="20">
        <label >Available Balance: </label>
        <p>{{retailer.Balance}}</p>
    </div>
    
    <md-card-actions layout="row" layout-align="center">
            <md-button ng-show="view" class="md-raised md-primary md-padding" md-ink-ripple="#FFFFFF" ng-click="viewTrans()">View Recent Transactions</md-button>
    </md-card-actions>
    <md-card-actions layout="row" layout-align="center">
        <md-button ng-hide="view" class="md-raised md-warning md-padding" md-ink-ripple="#FFFFFF" ng-click="hideTrans()">Hide Recent Transactions</md-button>
    </md-card-actions>

    <div class="table-responsive" ng-hide="view">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Quantity</th>
                    <th>GoodsID</th>
                    <th>Buying/Selling</th>
                    <th>Price</th>
                    <th>Participant</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tran in trans track by $index" >
                    <td style="
                        max-width: 16vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    ">{{tran.transactionId}}</td>
                    <td>{{tran.quantity}}</td>
                    <td>{{tran.goodsId}}</td>
                    <td>{{tran.state}}</td>
                    <td>{{tran.price}}</td>
                    <td>{{tran.participant}}</td>
                    <td style="background-color:{{tran.status==='Pending'?'orange':'green'}}">{{tran.status}}</td>                    
        
                </tr>
            </tbody>
        </table>
    </div> 
</md-card>