<style>
    
    .bank-dialog {
      padding: 10px 15px;
      width: 100%;
    }
    
    .demo-dialog-button {
      width: 100%;
    }
    
</style>
    <div role="dialog" aria-label="Select bank" layout="column" layout-align="center center">
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2>Step 4: Select Bank</h2>
              </div>
            </md-toolbar>
          
            <div class="bank-dialog" layout="column" layout-xs="column" >
                                
              <md-input-container flex="50">
                <label>Select Bank</label>
                <md-select name="bank" ng-model="email" required>
                  <md-option ng-repeat="bank in banks track by $index" value="{{bank.email}}">{{bank.CompanyName}}</md-option>
                </md-select>
                <!-- <div class="errors" ng-messages="myForm.favoriteColor.$error">
                  <div ng-message="required">Required</div>
                </div> -->
              </md-input-container>

                    <!-- <md-input-container>
                    <label>Email Id</label>
                    <input ng-model="email" type="email"></input>
                    </md-input-container>
    
                    <md-input-container>
                            <label>Bank Name</label>
                            <input ng-model="CompanyName" type="text"/>
                    </md-input-container> -->
    
            </div>
          
            <div layout="row" class="demo-dialog-button">
              <md-button md-autofocus flex class="md-primary" ng-click="addBank()">
                Submit
              </md-button>
            </div>
          </div>
          
          