<style>
        .finance-dialog{
          padding: 4vh 1vw;
          width: 30vw;
          height: auto;
        }
        
        .demo-dialog-button {
          width: 100%;
        }
        img{
            position: relative;
            width: 50%;
            height: auto;
            padding: 1vh 1vw;
            float: left;
            display: flex;
            box-sizing: content-box;
        }
    </style>
        <div role="dialog" aria-label="finance Request" layout="column" layout-align="center" >
                                       
            <md-toolbar>
                <div class="md-toolbar-tools">
                  <h2>Step 5: Financial Support</h2>
                </div>
              </md-toolbar>

              <div class="md-block" style="padding:2vh 1vw;">
                <label class="flabel">Select your financial requirement</label>

                <md-radio-group ng-model="financing" layout="row" layout-xs="column" >
                            
                    <md-radio-button value="Required" class="md-primary">Required</md-radio-button>
                    <md-radio-button value="Not_required"> Not Required </md-radio-button>
                    
                </md-radio-group>

                <div class="md-block"  ng-show="financing=='Required'">
                    <br><br>
                    <label class="flabel">Upload document</label>
                    <input class="md-raised md-primary" id="inputfile" multiple type="file" />
                    <!-- <label for="inputfile" class="md-button md-raised md-primary" style="padding:1vh 2vw;" ng-click="alertFilename()" >Choose Files</label>
                    <span class="md-raised" style="background-color:rgb(172, 160, 145);" ng-model="file" >{{file}}</span> -->
                    <br><br>
                </div>
              </div>

                        
            <div layout="row" class="demo-dialog-button">
                <md-button md-autofocus flex class="md-primary" ng-click="addfinance()">
                Submit
                </md-button>
            </div>
            </div>
              
              