<style>
        
@media only screen and (max-width: 729px) {
            #tablecover{
                overflow-x:auto;
            }

            .demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 80vw; 
  height: 80vh;
}

        }

    .card{
        margin: auto;
        height: auto;
        padding: 5vh 5vw;
    }

    .demo-dialog-example {
        position: fixed;
        top:0;
        background: white;
        border-radius: 4px;
        box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
            0 13px 19px 2px rgba(0, 0, 0, 0.14),
            0 5px 24px 4px rgba(0, 0, 0, 0.12);
        width: auto;
}

body {
    top: 0 !important;
  }
md-backdrop{
position: fixed;
top: 0;
}

        
        </style>

<div class="common-flex flex-center flex-justify flex-column center full-height" > 
    <div class="layout-container" layout-align="center center">
        <div class="inner-banner-content">
                    <h1 class="banner-title">
                        Financial requests from retailers                    
                    </h1>
                    <p class="pg-des">Review all the financial requests made to your bank and approve/reject them by analysing all the transactions details of a particular user by clicking Inspect User</p>
        </div>  
    </div>   
</div>


<md-card class="card" layout-align="center">
        <md-card-title class="headline" layout="column"> Financial Requests </md-card-title>
<div class="table-responsive" ng-hide="view" layout="center center">
    <table class="table" align="center">
        <thead>
            <tr >
                <th style="text-align:center">Request ID</th>
                <th style="text-align:center">Amount Required</th>  
                <th style="text-align:center">Retailer</th>
                <th style="text-align:center">GoodsListing ID</th>
                <th style="text-align:center">Review</th>
            </tr>
        </thead>
        <tbody style="text-align:center">
                <tr ng-repeat="fin_offer in fin_offers | orderBy :'Amount' track by $index ">
                    <td>{{fin_offer.RequestID}}</td>
                    <td>{{fin_offer.Amount}}</td>
                    <td>{{fin_offer.retailer}}</td>
                    <td>{{fin_offer.listing}}</td>
                    <td ng-hide="acceptStatus"><md-button class="md-raised md-primary md-padding" style="padding: 0.5vh 1vw;" ng-click="showDetails($event,fin_offer)">Inspect User</md-button></td>
                </tr>
            </tbody>
       
    </table>
</div> 
<div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-hide="complete"></md-progress-circular>
</div>
<md-card-footer ng-show="isreq && complete" style="text-align:center">
        There are no finance requests yet
</md-card-footer>
</md-card>