<style>

.goods-dialog {
  padding: 10px 15px;
  width: 100%;
}

.demo-dialog-button {
  width: 100%;
}

</style>
<div role="dialog" aria-label="Select goods" layout="column" layout-align="center">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Step 1: Select goods</h2>
          </div>
        </md-toolbar>
      
        <div class="goods-dialog" layout="column" layout-xs="column" >

                                     
           <!--Select mode of goods -->
           <div class="md-block">
              <label class="flabel">Choose existing goods or create new one</label>
              <md-radio-group ng-model="goodsMode" required layout="row" layout-xs="column">
                  
                  <md-radio-button value="New" class="md-primary"> New Goods </md-radio-button>
                  <md-radio-button value="Existing"> Existing Goods </md-radio-button>                            
                  
              </md-radio-group>
            </div>

            <md-input-container ng-show="goodsMode=='New'">
            <label>Description of Good</label>
            <input ng-model="description"></input>
            </md-input-container>

            <md-input-container flex="50" ng-show="goodsMode=='Existing'">
                <label>Select Existing Good</label>
                <md-select name="good" ng-model="GoodsId" required>
                  <md-option ng-repeat="good in existGoods track by $index" value="{{good.GoodsID}}">{{good.Description}}</md-option>
                </md-select>
                
            </md-input-container>

        </div>
      
        <div layout="row" class="demo-dialog-button">
          <md-button md-autofocus flex class="md-primary" ng-click="addGoods()">
            Submit
          </md-button>
        </div>
      </div>
      
      