<style>
        
    .card{
            height: auto;
            padding: 5vh 5vw;
        }
</style>

<div class="common-flex flex-center flex-justify flex-column center full-height" > 
        <div class="layout-container" layout-align="center center">
            <div class="inner-banner-content">
                        <h1 class="banner-title">
                            Goods Inventory
                        
                        </h1>
                        <p class="pg-des">List of all goods you own shown with their goods ID</p>
            </div>  
        </div>   
</div>

<md-card class="card" layout-align="center">
    <md-card-title class="headline" layout="column"> INVENTORY </md-card-title>
        <div class="table-responsive">
                <table class="table" align="center" style="text-align:center">
                    <thead>
                        <tr >
                            <th style="text-align:center">Goods ID</th>
                            <th style="text-align:center">Inventory</th>
                            <th style="text-align:center">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="good in goods">
                            <td>{{good.GoodsID}}</td>
                            <td>{{good.rinventory}}</td>
                            <td>{{good.Description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>  
            <md-card-footer ng-show="isreq" style="text-align:center">
                    There are no goods
            </md-card-footer>  
</md-card>

