<style>
        
    .card{
            height: auto;
            padding: 5vh 5vw;
        }
</style>

<div class="common-flex flex-center flex-justify flex-column center full-height" > 
        <div class="layout-container" layout-align="center center">
            <div class="inner-banner-content">
                        <h1 class="banner-title">
                           Want to know the Stats of your Goods? 
                        
                        </h1>
                        <p>Here is the list of all goods you bought shown with their goodsId to track them easily!</p>
            </div>  
        </div>   
</div>

<md-card class="card" layout-align="center">
    <md-card-title class="headline" layout="column"> INVENTORY </md-card-title>
        <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Goods ID</th>
                            <th>Inventory</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="good in goods">
                            <td>{{good.GoodsID}}</td>
                            <td>{{good.rinventory}}</td>
                            <td>{{good.Description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
</md-card>

