<style media="screen">
        .swal-footer {
          text-align: center;
        }
        .swal-button { 
          padding: 7px 19px;
          border-radius: 2px;
          background-color: #4962B3;
          font-size: 12px;
          border: 1px solid #3e549a;
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
        }

        
        .layout-container{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        padding: 10%;
        
      }

      .banner-title{
        font-family: dinbold;
        color: #292828;
        font-weight: bold;
        /* font-weight: 500; */
        margin-top: 60px;
      }
      .banner-title::after{
          content: " ";
          line-height: 4px;
      }
      .layout-container p{
        color: #110404;
      }


      .md-headline::after{
        content: "";
        width: 60px;
        height: 2px;
        background-color: #f04f43;
        display: block;
        margin:10px auto 0;
      }
        .login-flex{
        padding: 0px;
        min-width: 100%;
        background-size: cover;
        width: 100%;
        height:100%;
        z-index: 5;
        background-repeat: no-repeat;
        background-color: black;
        background-position: center center;
        background-image: url("/images/home3.jpg");
        position: relative;
        filter: blur(0.11px);
        opacity: 1;
      }

      
        </style>


      <div class="login-flex"> 
                <div class="layout-container" layout-align="center center">
                    <div class="inner-banner-content">
                                <h1 class="banner-title">
                                    Welcome 
                                </h1>
                                <p class="pg-des">Login with your registered username and password</p>
                    </div>  
                </div>
                 
      </div>

        <div class="container" style="min-height:100vh; overflow-x: hidden; padding-top: 5vh; padding-bottom: 5vh;width: 60vw;">
          <div ng-cloak="ng-cloak" style="margin-top:5%;">
            <md-card flex="flex">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline" layout-align="center" style="text-align:center">Welcome - Login here</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content >
                <form name="LoginForm" novalidate>
    
                    <!--Email-->
                    <md-input-container class="md-icon-float md-block">
                        <label class="flabel">Email</label>
                        <input required type="email" name="clientEmail" ng-model="credentials.email"
                        minlength="1" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <span ng-show="LoginForm.clientEmail.$dirty && LoginForm.clientEmail.$valid"
                        class="glyphicon glyphicon-ok form-control-feedback"
                        style="cursor: pointer; pointer-events: all;"></span>
                        <div ng-messages="LoginForm.clientEmail.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Enter valid email address.
                            </div>
                        </div>
                    </md-input-container>
    
                    <!-- Password  -->
                    <md-input-container class="md-block">
                        <label class="flabel">Password</label>
                        <input type="password"  name="credentials_password" ng-required="true" ng-model="credentials.Password" >
                        <div ng-messages="LoginForm.credentials_password.$error">
                        <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    
                    <br/>
                    <div layout="row" layout-align="center center">
                       <md-button class="md-raised md-primary" ng-click="loginCredentials()" ng-disabled="!LoginForm.$valid">LOGIN</md-button>
                    </div>
        
                   </form>
                 </md-card-content>
               </md-card>
             </div>
        </div>
        </div>
        