    <style>
       .main-flex{
        padding: 0px;
        min-height: 625px;
        min-width: 100%;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/images/home.jpg");
        position: relative;
      }
    </style>

    
    <!--Header end-->
    <!--Banner start-->
    <div class="main-flex flex-center flex-justify flex-column center full-height" >    
    </div>
    <section class="main-banner">
        <div class="scontainer">
            <div class="inner-banner-content">
                <h1 class="banner-title">
                    TECHNOLOGY
                </h1>
                <p>Today, AI is poised where cloud was in the early 2000s. Moving forward, companies will have to make the choice between embracing this change early and riding the wave like Salesforce did or being swept away by competitors who will ride this wave.</p>
            </div>
        </div>

    </section>
   