    <style>
       .main-flex{
        padding: 0px;
        min-height: 625px;
        min-width: 100%;
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        z-index: 5;
        background-position: center center;
        background-image: url("/images/home2gif.gif");
        position: relative;
    
      }

      .layout-container{
        position: absolute;
        top: 15%;
        left: 8%;
      }


      .main-banner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
     .banner-title{
       color: white;
       text-align: center;
     }
     p{
       color: whitesmoke;
       text-align: center;
     }

     .md-headline::after{
        content: "";
        width: 60px;
        height: 2px;
        background-color: #f04f43;
        display: block;
        margin:10px auto 0;
      }

      .wrapper{
          display: flex;
          flex-direction: column;
      }

      .over-flex{
    padding: 0px;
    min-width: 100%;
    background-size: cover;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center center;
    background-image: url("/images/backgrd.png");
    position: relative;
    filter: blur(3px) ;
    opacity: 0.9;
  }

  .about-flex{
    padding: 0px;
    min-width: 100%;
    background-size: cover;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    z-index: 10;
    background-position: center center;
    background-image: url("/images/backgrd.png");
    position: relative;
    filter: blur(10px) ;
    opacity: 0.5;
  }
  
  
    </style>

    
    <!--Header end-->
    <!--Banner start-->
    <div class="wrapper">

    <div class="main-flex flex-center flex-justify flex-column center full-height" >
        <div class="over-flex flex-center flex-justify flex-column center full-height" >  
            
          </div>
    </div>

    <div class="layout-container" layout-align="center center">
        <div class="inner-banner-content">
                    <h1 class="banner-title" style="color:#ff9b05;opacity:1">
                        chain finance
                    </h1>
                    <h3 class="sub-title">Blockchain based solutions for retail financing</h3>
                    <h4 class="sub-sub-title">Where Retailer , Wholesaler, Bank connects</h4>
        </div>  
    </div>
    
    

    <div class="about" style=" background-color:transparent;position:relative;  padding: 5vh 2vw;">
              <md-card flex="flex" style=" background-color:transparent;">
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline" layout-align="center" style="text-align:center;"> About Us              
                    </span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content style="text-align:center;" >
                    We are a bunch of students from IIT Madras highly enthusiastic about Blockchain.
                    We used Hyperledger platform for building the backend of this product and we used 
                   Angular JS for the frontend.
                </md-card-content>
                 </md-card>
  </div>
</div>
