<style>


.navcontainer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 10;
    transition: all .2s ease-in;
    box-shadow: none;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 0.8rem;
}

.fixednav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 10;
    transition: all .2s ease-in;
    box-shadow: none;
    background-color: #090909;
    /* font-family: 'Raleway', Helvetica, Arial, sans-serif;  */
    
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
}

md-nav-bar .md-button._md-nav-button.md-unselected{
    color: rgb(255, 255, 255);    
}

md-nav-bar .md-nav-item{
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 0.5rem;
}
md-nav-bar .md-button._md-nav-button.md-hover{
color: #fbdb58;
}




.navcontainer :hover{
    color: rgb(237, 222, 10);
}

#grad1{
   
}

/* .navcontainer li:hover{
  cursor: pointer;
  padding-left: 2vw;
  width: 100%;
  background: rgba(80, 78, 78, 0.1);
  background: -webkit-linear-gradient(90deg, rgba(225, 225, 225, 0.1), rgba(80, 78, 78, 0));
  background: linear-gradient(90deg, rgba(225, 225, 225, 0.1), rgba(80, 78, 78, 0));
} */


.menu{
    visibility: visible;
}

.slides{
    display: block;
    /* margin: auto; */
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    transition: all .2s ease-in;
    box-shadow: none;
}

.sidenav1{
    visibility: hidden;
}

.md-button.md-accent {
    color: rgb(237, 222, 10);
}

.btn primary-btn contact-btn{
    font-size: 14px;
    min-width: 120px;
    vertical-align: middle;
    /* display: inline-block; */
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 12px 20px 10px;
}


.contact-btn.active, .main-header .contact-btn:hover {
    border-color: #fbdb58;
    color: #fbdb58;
    background-color: transparent;
}

@media screen and (max-width: 769px){

.sidenav1{
    display: block;
    visibility: visible;
}

.menu{
    visibility: visible;
}

.md-button.md-accent {
    color: rgb(237, 222, 10);


}
}

.png-icon{
    margin: 5px auto auto;
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}

.ctitle{
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5 rem;
}
</style>
<section id="navbar" class = "navcontainer" layout ="column">
    

    <md-nav-bar
        md-no-ink-bar="true"
        md-selected-nav-item="currentNavItem"
        nav-bar-aria-label="navigation links"
        
        >
        
        <!-- <md-button class="menu" ng-show="status()" class="menu md-icon-button" ng-click="close()">
            <md-icon style="color:white;margin-top:0.4vw;" md-svg-icon="close"></md-icon>
        </md-button> -->

        <md-button  class = "menu" ng-hide="status()" class="menu md-icon-button" >
                <md-icon style="color:white;margin:auto 0;" md-svg-icon="logo3"></md-icon>
        </md-button>
        <md-nav-item md-nav-href="#/" name="Home">
           
        <b>RETAILCHAIN</b>

        </md-nav-item>
        <!-- <md-icon ng-show="isClicked" style="color:rgb(255, 254, 254);margin-top:1vw;" md-svg-icon="right"></md-icon>
        
        <md-nav-item name="{{routeName}}">
            <p ng-show="isClicked">{{routeName}}</p>            
        </md-nav-item> -->
    
        <md-nav-item ng-show="isAuthenticated && isRetailer" md-nav-href="/#newTrans/{{user.email}}" ng-click="close('NEW TRANSACTION')"><b>PLACE ORDERS</b></md-nav-item>              
        <md-nav-item ng-show="isAuthenticated && isRetailer" md-nav-href="/#inventory/{{user.email}}" ng-click="close('INVENTORY')" ><b>INVENTORY</b></md-nav-item>    
        <md-nav-item ng-show="isAuthenticated && isRetailer" md-nav-href="/#pastTrans/{{user.email}}" ng-click="close('PAST TRANSACTIONS')" ><b>PAST TRANSACTIONS</b></md-nav-item>                   
        <!-- <md-nav-item ng-show="isAuthenticated && isRetailer" md-nav-href="/#verifyTrans/{{user.email}}" ng-click="close('VERIFY TRANSACTION')" >VERIFY TRANSACTION</md-nav-item>                         -->
            
        <md-nav-item ng-show="isAuthenticated && isWholesaler" md-nav-href="/#transReq/{{user.email}}" ng-click="close()"><b>TRANSACTION REQUESTS</b></md-nav-item>          
                    
        <md-nav-item ng-show="isAuthenticated && isBank" md-nav-href="/#financeReq/{{user.email}}" ng-click="close()" ><b>FINANCIAL REQUESTS</b> </md-nav-item>                    
        <!-- <md-nav-item ng-show="isAuthenticated && isBank" md-nav-href="/#bankVerifyReq/{{user.email}}" ng-click="close()" >VERIFY TRANSACTIONS</md-nav-item>                         -->
                                            
        <span flex></span>
        <span flex></span>

        <md-nav-item ng-hide="isAuthenticated" md-nav-href="#/login" layout-align="end" name="Login"><b>Login</b></md-nav-item>
        <md-nav-item ng-hide="isAuthenticated" md-nav-href="#/signup"  layout-align="end" name="Signup"><b>Signup</b></md-nav-item>
        <md-nav-item ng-show="isAuthenticated" md-nav-href="#/profile/{{user.email}}"   layout-align="end" name="User Profile"><b>User Profile</b></md-nav-item>
        <md-nav-item ng-show="isAuthenticated" md-nav-href="#/"  ng-click="logout()" layout-align="end" name="Logout"><b>Logout</b></md-nav-item>                            
    </md-nav-bar>


    <div class="sidenav1">

    <md-sidenav 
        id="nav1"
        md-component-id="left"   
        class="md-sidenav-left"
        md-whiteframe="4"
        tabindex="-1"
        style="
        opacity:1;
        height: 100vh;
        max-width: 30vw;
        z-index: 9999999999;
        overflow-x: hidden;
        position: fixed;
        "
       >
            <md-toolbar>
            <h4 class="md-toolbar-tools" style="text-align:center">DASHBOARD</h4>
            </md-toolbar>
            <md-content class="md-padding" ng-hide="isAuthenticated" layout="column">
               <span class="md-sub-heading">Please Login if you already Registered!</span>
               <span class="md-sub-heading">Please Register if you didnt!</span>               
            </md-content>

            <md-list ng-show="isAuthenticated" class="navcontainer">
                <ul ng-show="isRetailer">

                    <a href="/#newTrans/{{user.email}}" ng-click="close('NEW TRANSACTION')" style="text-decoration: none;"><li style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">NEW TRANSACTION</li></a>                        
                    
                    <a href="/#inventory/{{user.email}}" ng-click="close('INVENTORY')" style="text-decoration: none;"><li  style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">INVENTORY</li></a>                        
                    
                    <a href="/#balance/{{user.email}}" ng-click="close('CHECK BALANCE')" style="text-decoration: none;"><li style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">CHECK BALANCE</li></a>                        
                    
                    <a href="/#pastTrans/{{user.email}}" ng-click="close('PAST TRANSACTIONS')" style="text-decoration: none;"><li  style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">PAST TRANSACTIONS</li></a>                        
                    
                    <a href="/#verifyTrans/{{user.email}}" ng-click="close('VERIFY TRANSACTION')" style="text-decoration: none;"><li  style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">VERIFY TRANSACTION</li></a>                        
                      
                </ul>

                <ul ng-show="isWholesaler">
                    <a href="/#transReq/{{user.email}}" ng-click="close()" style="text-decoration: none;"><li  style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">TRANSACTION REQUESTS</li></a>                        
                    
                </ul>
                <ul ng-show="isBank">
                    <a href="/#financeReq/{{user.email}}" ng-click="close()" style="text-decoration: none;"><li style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">FINANCIAL REQUESTS</li></a>                        
                    <a href="/#bankVerifyReq/{{user.email}}" ng-click="close()" style="text-decoration: none;"><li style="margin-top: 0.5em; margin-bottom: 0.3em;" class="fontsizetab">VERIFY TRANSACTIONS</li></a>                        
                </ul>                    
                                            
            </md-list>
    </md-sidenav> 
    </div>

</section>
