<style>

.card{
    padding: 2vh 0.1vw;
    width: 18vw;
    height: 50vh;
    margin-top: 2vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media screen and (max-width: 768px){
  .demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 80vw; 
  height: 80vh;
}

}

.card p{
   
    font-family: din_lightregular;
    color: #302f2f;
    /* font-size: 0 em; */
    /* margin: 0 auto 2vh; */
    text-align: center;
    }


  .card img{
  padding: 5%;
  position: relative;
  width: 50%;
  height: auto;
  margin: 2vh auto;
  box-sizing: content-box;
} 

.card:hover{
  border: 2px solid rgb(65, 3, 61);
  box-shadow: 3px 3px 25px 2px gainsboro;
  box-sizing: border-box;
}


.demo-dialog-example {
  position: fixed;
  top:0;
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 50vw;
}

.newTrans-flex{
        padding: 0px;
        min-width: 100%;
        background-size: cover;
        width: 100%;
        height:60vh;  
        z-index: 5;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/images/backgrd.png");
        position: relative;
      }

#toaster {
  position: fixed;
  top: 56px;
  height: 48px;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.headline{

  margin:0 auto;
  font-weight: bold;  
}



.cards-list{
  margin: 5vh auto;
}

body {
    top: 0 !important;
  }
md-backdrop{
position: fixed;
top: 0;
}
/* md-backdrop {

background-color: '{{background-900-0.0}}';
}
.md-opaque.md-THEME_NAME-theme {
  background-color: '{{background-900-1.0}}';
} */

.md-dialog-container{
position:fixed;
top:0 !important;
overflow:hidden;
}



</style>

<body>

<div class="newTrans-flex flex-center flex-justify flex-column center full-height" > 
    <div class="layout-container" layout-align="center center">
        <div class="inner-banner-content">
                    <h1 class="banner-title">
                        Retailer Order Placement 
                    </h1>
                    <p class="pg-des">Follow the below procedure to place your order</p>
        </div>  
    </div>   
</div>

<div class="md-pading" layout="column">

<div id="toaster" layout-align="center center"></div>

<div class="cards-list" layout="row" layout-xs="column" layout-align="center" layout-margin="30" layout-margin-xs="20">

    <md-card class="card" ng-click="selectGoods()" >
      <md-tooltip  md-direction="{{demo.tipDirection}}">
          {{Step1}}
      </md-tooltip>
      <img ng-src="images/full_basket_shopping-512.png" class="md-card-image" alt="Select Goods">
      <md-card-title>
        <md-card-title-text>
          <span class="headline" style="font-size:1 rem;" >Select Goods</span>
        </md-card-title-text>
      </md-card-title>
      <div>
        <p>
            Enter name of the goods
        </p><br>
      </div>
      
    </md-card>

    

    <md-card class="card"  ng-click="selectPartici()">
        <md-tooltip md-direction="{{demo.tipDirection}}">
            {{Step2}}
        </md-tooltip>
            <img ng-src="images/participant.png" class="md-card-image" alt="other participants">
            <md-card-title>
              <md-card-title-text>
                <span class="headline"  style="font-size:1 rem;">Select Wholesaler</span>
              </md-card-title-text>
            </md-card-title>
            <div>
                <p>
                    Choose the Wholesaler
                </p><br>
            </div>
              
    </md-card>

    <md-card class="card"  ng-click="selectBank()">
            <md-tooltip md-direction="{{demo.tipDirection}}">
                {{Step3}}
            </md-tooltip>
                <img ng-src="images/bank.jpg" class="md-card-image" alt="Bank">
                <md-card-title>
                  <md-card-title-text>
                    <span class="headline"  style="font-size:1 rem;" >Choose Bank</span>
                  </md-card-title-text>
                </md-card-title>
                <div>
                    <p>
                        Enter a Bank name
                    </p><br>
                </div>
                 
    </md-card> 

    <md-card class="card"  ng-click="decideQuantity()">
        <md-tooltip  md-direction="{{demo.tipDirection}}" >
            {{Step4}}
        </md-tooltip>
            <img ng-src="images/quantity.png" class="md-card-image" alt="Decide quantity,Buying or selling?">
            <md-card-title>
              <md-card-title-text>
                <span class="headline"  style="font-size:1 rem;" >Decide Quantity</span>
              </md-card-title-text>
            </md-card-title>
            <div style="padding:0 0.5vw;">
                <p >
                    Enter quantity and price of the good
                  </p>
            </div>
             
    </md-card>

    <md-card class="card"  ng-click="financeRequest()" id="finance">
        <md-tooltip  md-direction="{{demo.tipDirection}}" >
            {{Step5}}
        </md-tooltip>
            <img ng-src="images/finsup.jpg" class="md-card-image" alt="Financial Support">
            <md-card-title>
              <md-card-title-text>
                <span class="headline"  style="font-size:1 rem;" >Financial Support</span>
              </md-card-title-text>
            </md-card-title>
            <div>
                <p>
                    Choose your requirement
                </p><br>
            </div>
             
    </md-card>

</div>    

<!-- 
<div style="text-align:center;" layout-align="center" layout-margin="4% 5%" layout="row" id="finance">
    <label  style="margin-top: 35px;font-size: 1em;">Step: 5 Need Financial Help?</label>
    <md-button class="md-raised md-primary" ng-click="financeRequest()" style="margin-top: 25px;font-size: 0.8em;" >Click here!</md-button>
</div> -->

<!-- <div style="text-align:center;" layout-align="center" layout-margin="4% 5%">
    <md-button class="md-raised md-primary" ng-disabled="submit" ng-click="submitTrans()" style="padding:2vh 2vw;margin-top: 25px;font-size: 1em;" >Submit the Transaction</md-button>
</div> -->
</div>
</body>
