<style>

.card{
    width: 80vw;
    height: auto;
}

@media screen and (max-width: 768px){
  .demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 80vw; 
  height: 80vh;
}
/* .card1{
  width: 80vw;
  height: auto;
} */
}

.card p{
    color: rgb(39, 38, 38);
    }

  .card img{
  position: relative;
  width: 50%;
  height: auto;
  margin: 10% 20%;
  box-sizing: content-box;
} 
/* .card1 img{
  position: relative;
  width: 50%;
  height: auto;
  margin: 10% 20%;
  box-sizing: content-box;
}  */
.card:hover{
  border: 2px solid rgb(65, 3, 61);
  box-shadow: 3px 3px 25px 2px gainsboro;
  cursor: pointer;
  box-sizing: border-box;
}
/* .card1:hover{
  border: 2px solid rgb(65, 3, 61);
  box-shadow: 3px 3px 25px 2px gainsboro;
  cursor: pointer;
  box-sizing: border-box;
} */

.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 50vw;
}

#toaster {
  position: fixed;
  top: 56px;
  height: 48px;
  left: 0;
  width: 100%;
  z-index: 10000;
}

</style>

<div class="md-pading" layout="column">

<div id="toaster" layout-align="center center"></div>

<div layout="row" layout-xs="column" layout-align="center" layout-margin="30" layout-margin-xs="20">

    <md-card class="card" ng-click="selectGoods()">
      <md-tooltip  md-direction="{{demo.tipDirection}}">
          {{Step1}}
      </md-tooltip>
      <img ng-src="images/full_basket_shopping-512.png" class="md-card-image" alt="Select Goods">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Select Goods</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
            Enter name of the goods and give description about them!
        </p>
      </md-card-content>
    </md-card>

    

    <md-card class="card"  ng-click="selectPartici()">
        <md-tooltip md-direction="{{demo.tipDirection}}">
            {{Step2}}
        </md-tooltip>
            <img ng-src="images/participant.png" class="md-card-image" alt="other participants">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Select other participants</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Enter other participants
            </p>
            </md-card-content>
    </md-card>

    <md-card class="card"  ng-click="decideQuantity()">
        <md-tooltip  md-direction="{{demo.tipDirection}}" >
            {{Step3}}
        </md-tooltip>
            <img ng-src="images/quantity.png" class="md-card-image" style="margin-top:10%" alt="Decide quantity,Buying or selling?">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Decide Quantity. Buying or Selling?</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                Enter the quantity of the good and choose to buy or sell!
              </p>
            </md-card-content>
    </md-card>

    <md-card class="card"  ng-click="selectBank()">
        <md-tooltip md-direction="{{demo.tipDirection}}">
            {{Step4}}
        </md-tooltip>
            <img ng-src="images/bank.jpg" class="md-card-image" alt="Bank">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Choose Bank</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>
                  Enter a Bank name
              </p>
            </md-card-content>
    </md-card> 

</div>    
<div style="text-align:center;" layout-align="center" layout-margin="4% 5%" layout="row" id="finance">
    <label  style="margin-top: 35px;font-size: 1em;">Step: 5 Need Financial Help?</label>
    <md-button class="md-raised md-primary" ng-click="financeRequest()" style="margin-top: 25px;font-size: 0.8em;" >Click here!</md-button>
</div>
<div style="text-align:center;" layout-align="center" layout-margin="4% 5%">
    <md-button class="md-raised md-primary" ng-disabled="submit" ng-click="submitTrans()" style="margin-top: 25px;font-size: 1em;" >Submit the Transaction</md-button>
</div>
</div>