<style>
    .card{
        margin: auto;
        padding: 5vh 5vw;
    }

    .inner-details{
        padding: 5vh 5vw;
        margin: auto;
        flex-direction: row;
        display: flex;

    }
    td{
        padding: 1vh 1vw;
    }
    .balance{
        padding: 5vh 5vw;
        margin: auto;
    }
    .titles{
        text-transform: uppercase;
        font-weight: bold;
        padding: 1vh 1vw;
        width: 15vw;
    }
</style>

<div class="common-flex flex-center flex-justify flex-column center full-height" > 
        <div class="layout-container" layout-align="center center">
            <div class="inner-banner-content">
                        <h1 class="banner-title">
                           User Profile
                        
                        </h1>
                        <p class="pg-des">Shows user details , balance, recent transactions</p>
            </div>  
        </div>   
</div>

       
        
  
<md-card class="card" layout-align="center">
        <md-card-title class="headline" layout="column"> User Profile </md-card-title>

        <div class="inner-details">
                <img ng-src="/images/svg/user.png" class="md-card-image" style="margin:auto 5vw; height:100px; width: 100px; border-radius:50%;" alt="User pic">

                <div class="table-responsive">
                        <table class="table-striped">
                            <tbody>
                                <tr>
                                <td class="titles">Name </td>
                                <td>Mr X</td>
                                </tr>
                                <tr>
                                    <td class="titles">Email id </td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="titles">User Category </td>
                                    <td>{{user.occupation}}</td>
                                </tr>
                                <tr></tr>
                            </tbody>
                        </table>
                    </div> 

                    <div class="balance" layout="row" layout-margin="20" ng-show="user.occupation=='Retailer'">
                            <label >AVAILABLE BALANCE :  </label>
                            <p>{{retailer.Balance}}</p>
                    </div>
                </div>

                              
                <md-card-actions layout="row" layout-align="center"  ng-show="user.occupation=='Retailer'">
                        <md-button style="padding:2vh 2vw; margin:2vh auto;"ng-show="view" class="md-raised md-primary md-padding" md-ink-ripple="#FFFFFF" ng-click="viewTrans()">View Recent Transactions</md-button>
                </md-card-actions>
                <md-card-actions layout="row" layout-align="center"  ng-show="user.occupation=='Retailer'">
                    <md-button style="padding:2vh 2vw;margin:4vh auto;" ng-hide="view" class="md-raised md-warning md-padding" md-ink-ripple="#FFFFFF" ng-click="hideTrans()">Hide Recent Transactions</md-button>
                </md-card-actions>
            
                <div class="table-responsive" layout="center center"  ng-show="user.occupation=='Retailer' && !view">
                        <table class="table" style="border-collapse:separate;border-spacing:0.1vw 1px;">
                            <thead>
                                <tr>
                                    <th>GoodsID</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Buying/Selling</th>
                                    <th>Price</th>
                                    <th>Wholesaler</th>
                                    <th>Bank</th>
                                    <th>Credit</th>
                                    <th>Credit Status</th>
                                    <th>Txn Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tran in trans | orderBy : 'des' track by $index" >
                                    <td>{{tran.goodsId}}</td>
                                    <td>{{tran.des}}</td>
                                    <td>{{tran.quantity}}</td>
                                    <td>{{tran.state}}</td>
                                    <td>{{tran.price}}</td>
                                    <td>{{tran.participant}}</td>
                                    <td>{{tran.bank}}</td>
                                    <td>{{tran.finSup}}</td>
                                    <td style="background-color:{{tran.finStatus==='Pending'?'orange':selectColor(tran.finStatus)}}">{{tran.finStatus}}</td>
                                    <td style="background-color:{{tran.status==='Pending'?'orange':selectColor(tran.status)}}">{{tran.status}}</td>                    
                                    <!-- <td style="background-color:{{tran.status==='Pending'?'orange':selectColor(tran)}}">{{tran.status}}</td>                     -->
                        
                                </tr>
                            </tbody>
                        </table>
                    </div> 
    
    
</div>
<div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate" ng-show="!view && !complete && user.occupation=='Retailer';"></md-progress-circular>
</div>
<md-card-footer ng-show="isreq && user.occupation=='Retailer' && !view && complete" style="text-align:center;">
        There are no orders yet
</md-card-footer>
</md-card>