<style media="screen">
    .swal-footer {
      text-align: center;
    }
    .swal-button { 
      padding: 7px 19px;
      border-radius: 2px;
      background-color: #4962B3;
      font-size: 12px;
      border: 1px solid #3e549a;
      text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    }

    .reg-flex{
        padding: 0px;
        min-width: 100%;
        background-size: cover;
        width: 100%;
        height:60vh;
        z-index: 5;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/images/banner-reg.jpg");
        position: relative;
      }
      
      .layout-container{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        padding: 10%;
        
      }

      .banner-title{
        font-family: dinbold;
        color: #ededed;
        margin-top: 60px;
      }
      .banner-title::after{
          content: " ";
          line-height: 4px;
      }
      .layout-container p{
        color: #ededed;
      }

    
      .md-headline::after{
        content: "";
        width: 60px;
        height: 2px;
        background-color: #f04f43;
        display: block;
        margin:10px auto 0;
      }

    </style>

    <div class="reg-flex"> 
        <div class="layout-container" layout-align="center center">
            <div class="inner-banner-content">
                        <h1 class="banner-title">
                            Create a new account                   
                        </h1>
                        <p class="pg-des">Signup into Chain Finance - Blockchain based solutions for retail financing</p>
            </div>  
        </div>
         
    </div>

    <div style=" position:relative; width:60vw; min-height:100vh; overflow-x: hidden; padding-top: 5vh; padding-bottom: 5vh; margin: auto; min-width: 320px;">
      <div ng-cloak="ng-cloak" style="margin-top:5%;">
        <md-card flex="flex">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" layout-align="center" style="text-align:center;">REGISTER              
              </span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content >
            <form name="signupForm" novalidate>

                <!--Email-->
                <md-input-container class="md-icon-float md-block">
                    <label class="flabel">Email</label>
                    <input required type="email" name="clientEmail" ng-model="user.email"
                    minlength="1" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                    <span ng-show="signupForm.clientEmail.$dirty && signupForm.clientEmail.$valid"
                    class="glyphicon glyphicon-ok form-control-feedback"
                    style="cursor: pointer; pointer-events: all;"></span>
                    <div ng-messages="signupForm.clientEmail.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Enter valid email address.
                        </div>
                    </div>
                </md-input-container>

                <!--Company -->
                <md-input-container class="md-block">
                        <label class="flabel">Name of your Company</label>
                        <input type="text" name="CompanyName" ng-model="user.CompanyName" ng-required="true">
                        <div ng-messages="signupForm.CompanyName.$error">
                            <div ng-message="required">Your CompanyName is required.</div>
                        </div>
                </md-input-container>

                <!-- Password  -->
                <md-input-container class="md-block">
                    <label class="flabel">Password</label>
                    <input type="password"  name="user_password" ng-required="true" ng-model="user.Password" password-verify="{{user.confirm_password}}">
                    <div ng-messages="signupForm.user_password.$error">
                    <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
        
                <md-input-container class="md-block">
                    <label class="flabel">Confirm Password</label>
                    <input  id="confirm_password" ng-model="user.confirm_password" name="confirm_password" type="password"  ng-required="true" password-verify="{{user.Password}}">
                    <div ng-messages="signupForm.confirm_password.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="passwordVerify">Password doesn't match.</div>
                    </div>
                </md-input-container>
            
                <!--Occupation -->
                <div class="md-block">
                        <label class="flabel">Occupation</label>
                        <md-radio-group ng-model="user.occupation" required layout="row" layout-xs="column">
                            
                            <md-radio-button value="Retailer" class="md-primary">Retailer</md-radio-button>
                            <md-radio-button value="Wholesaler"> Wholesaler </md-radio-button>                            
                            <md-radio-button value="Bank" class="md-warn"> Bank </md-radio-button>
                            
                        </md-radio-group>
                        <div ng-messages="signupForm.occupation.$error">
                            <div ng-message="required">Your Occupation is required.</div>
                        </div>
                </div>
                    
                <!--Balance-->
                <md-input-container class="md-block" style="margin-top:40px;" ng-show="user.occupation=='Retailer'">
                        <label class="flabel">Enter your Balance</label>
                        <input  id="balance" ng-model="user.Balance" name="balance" type="Number">
                        <div ng-messages="signupForm.balance.$error">
                        <div ng-message="required">This is required.</div>
                        </div>
                </md-input-container>
                

                <div style="margin-top:20px; padding:1vh 0.3vw;" ng-show="user.occupation=='Retailer'">
                        <label class="flabel">Add Inventory</label>
                        <p>Click on Add Good to add any no of goods</p>
                        <div style="text-align:center">
                                <md-button class="md-raised md-primary" style="padding:1vh 1vw;text-align:center" ng-click="addgoods()" >Add good</md-button>
                        </div>
                    
                        <div class="container" style="padding:2vh 2vw;">
                        
                        <fieldset data-ng-repeat="good in goods track by $index">
                    
                        
                        <div layout="row" style="padding:1vh 1vw;" class="md-icon-float">

                                <span style="margin-top:10px; margin-right:20px;"><b>{{$index + 1}}</b></span>

                                <md-input-container  class="md-block" style="margin-top:10px; margin-right:20px;" >
                                        <label class="flabel" >Enter name of good</label>
                                        <input  id="des"  ng-disabled="good.action"ng-model="good.Description" name="des" type="text">
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block" style="margin-top:10px; margin-right:50px;" >
                                        <label class="flabel" >No of goods</label>
                                        <input  id="stock" ng-disabled="good.action" ng-model="good.rinventory" name="stock" type="Number">
                                </md-input-container>
                                <button type="button" ng-hide="good.action" class="btn btn-primary btn-sm" ng-click="confirmgood(good)" style="width:auto; height:30px;margin-top:10px; margin-right:10px;" >
                                    CONFIRM
                                </button>
                                <button type="button" ng-hide="good.action" class="btn btn-danger btn-sm" ng-click="removegood($index)" style="width:auto; height:30px;margin-top:10px; margin-right:20px;" >
                                    REMOVE
                                </button>
                                <button type="button" class="btn btn-success btn-sm" style="width:auto; height:30px;margin-top:10px; margin-right:10px;" ng-show="good.action">
                                        <span class="glyphicon glyphicon-ok"></span>
                                </button>
                                
                        </div>
                            
                    
                          </fieldset>
                    
                        
                    
                    </div>
               
                <br/>
                <div layout="row" layout-align="center center">
                   <md-button class="md-raised md-primary" ng-click="createUser()" ng-disabled="!signupForm.$valid">SIGNUP</md-button>
                </div>
    
               </form>
             </md-card-content>
           </md-card>
         </div>
    </div>
    