<style>
    .card{
        height: auto;
        margin: auto;
        padding: 5vh 5vw;
        width: 100%;
    }

    .md-clickable:hover{
        background-color: rgb(230, 230, 231);
    }

</style>
<div>

    <div class="common-flex flex-center flex-justify flex-column center full-height" > 
            <div class="layout-container" layout-align="center center">
                <div class="inner-banner-content">
                            <h1 class="banner-title">
                                Orders from retailers
                            
                            </h1>
                            <p class="pg-des">List of all orders you got from retailers. Accept or reject the order after inspecting the details given about each order</p>
                </div>  
            </div>   
    </div>

    <div id="toaster" layout-align="center center"></div>

    <div layout="row" layout-xs="column" layout-align="center" >

        <md-card class="card">

            <md-card-title>
                <md-card-title-text>
                <span class="headline">Transaction Requests</span>
                </md-card-title-text>        
            </md-card-title>

            <div class="table-responsive" ng-hide="view">
                <table class="table" style="border-collapse:separate;border-spacing:0.1vw 1px;">
                    <thead>
                        <tr>
                            <th>GoodsID</th>
                            <th>Description</th>
                            <th>Quantity</th>                            
                            <th>Buying/Selling</th>
                            <th>Price</th>
                            <th>Retailer</th>
                            <th>Bank</th>
                            <th>Credit</th>
                            <th>Credit Status</th>
                            <th>Txn Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="tran in trans track by $index" class="md-clickable" ng-click="showConfirm($event,tran)">
                            <td>{{tran.goodsId}}</td>
                            <td>{{tran.des}}</td>
                            <td>{{tran.quantity}}</td>
                            <td>{{tran.state}}</td>
                            <td>{{tran.price}}</td>
                            <td>{{tran.retailer}}</td>
                            <td>{{tran.bank}}</td>
                            <td>{{tran.finSup}}</td>
                            <td style="background-color:{{tran.finStatus==='Pending'?'orange':selectColor(tran.finStatus)}}">{{tran.finStatus}}</td>
                            <td style="background-color:{{tran.status==='Pending'?'orange':selectColor(tran.status)}}">{{tran.status}}</td>                    
                
                        </tr>
                    </tbody>
                </table>
            </div> 

            <md-card-footer ng-show="isreq" style="text-align:center;">
                    There are no orders yet
            </md-card-footer>

        </md-card>
    </div>

</div>
