<style>
    .md-clickable:hover{
        background-color: rgb(230, 230, 231);
    }

    .card{
        margin: auto;
        height: auto;
        padding: 5vh 5vw;
    }
</style>

<div class="common-flex flex-center flex-justify flex-column center full-height" > 
        <div class="layout-container" layout-align="center center">
            <div class="inner-banner-content">
                        <h1 class="banner-title">
                           Want to Verify your Transactions  
                        
                        </h1>
                        <p>Here is the list of all Tranactions you did shown with their ids and relevant details.
                            Now to verify click any transaction in the table !
                        </p>
            </div>  
        </div>   
</div>

<md-card class="card" layout-align="center">
        <md-card-title class="headline" layout="column"> Verify Transaction </md-card-title>
<div class="table-responsive" ng-hide="view" layout-align="center">
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Quantity</th>
                <th>GoodsID</th>
                <th>Buying/Selling</th>
                <th>Price</th>
                <th>Participant</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tran in trans track by $index" class="md-clickable" ng-click="verifyTransaction(tran)" >
                        <td style="
                        max-width: 16vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    ">{{tran.transactionId}}</td>
                    <td>{{tran.quantity}}</td>
                    <td>{{tran.goodsId}}</td>
                    <td>{{tran.state}}</td>
                    <td>{{tran.price}}</td>
                    <td>{{tran.participant}}</td>
                    <td style="background-color:{{tran.status==='Pending'?'orange':'green'}}">{{tran.status}}</td>                    
            </tr>
        </tbody>
    </table>
</div> 
</md-card>